@font-face {
  font-family: "Alfa Slab One";
  src: url(../fuente/AlfaSlabOne-Regular.ttf);
}
@font-face {
  font-family: "Didact Gothic";
  src: url(../fuente/DidactGothic-Regular.ttf);
}
.icono {
  width: 130px;
}

.navcolor {
  background-color: #d2f4e4;
  font-family: "Alfa Slab One";
  font-size: 25px;
}
.navcolor a {
  text-decoration: none;
  color: black;
}

.nav-link {
  color: black;
  text-decoration: none;
}
.nav-link:hover {
  color: rgb(255, 231, 175);
  text-decoration: none;
}

.dropdown-menu {
  background-color: #d2f4e4;
}

.navposition {
  margin-top: 15px;
}

.colordrop {
  background-color: #d2f4e4;
}

.navbar-toggler-icon {
  background-image: url(../Imagenes/Redes/descargar.svg);
}

body {
  background-color: rgb(255, 231, 175);
}

.titulos {
  font-family: "Didact Gothic";
  font-size: 45px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.inicio-tarjetas {
  font-family: "Alfa Slab One";
  text-align: center;
  padding-bottom: 10px;
}

.sinopsistitle {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: -30px;
}

.footicon {
  width: 40px;
  margin-left: 5px;
}

.buttoncolors {
  box-shadow: inset 0px 1px 0px 0px #d9fbbe;
  background: linear-gradient(to bottom, #d2f4e4 5%, #32d686 100%);
  background-color: #d2f4e4;
  border-radius: 6px;
  border: 1px solid #9bd1b7;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Didact Gothic";
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #054a29;
}
.buttoncolors:hover {
  background: linear-gradient(to bottom, #32d686 5%, #d2f4e4 100%);
  background-color: #32d686;
}
.buttoncolors:active {
  position: relative;
  top: 1px;
}

.logo-navbar {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.logo-navbar-2 {
  display: flex;
  justify-content: center;
}

.sobrecatino {
  border-radius: 10px;
  border: 5px solid #d2f4e4;
  background-color: #ffffff;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 250px;
  font-family: "Didact Gothic";
}

.catinos {
  margin-bottom: 30px;
  width: 150px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Didact Gothic";
  text-align: center;
  background-color: #d2f4e4;
  border-radius: 15px;
  padding-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.grid-item {
  display: flex;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid #d2f4e4;
  font-family: "Didact Gothic";
  font-size: 20px;
  text-align: center;
}

.video-container {
  flex: 1;
  max-width: 560px;
}
.video-container iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  border-radius: 10px;
}

.video-info {
  flex: 1;
  padding: 10px;
}

.directorio {
  font-family: "Didact Gothic";
  margin: 0;
  padding: 20px;
}
.directorio h1 {
  text-align: center;
}
.directorio ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.directorio li {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.directorio h2 {
  font-size: 1.2em;
  margin: 0;
}
.directorio p {
  margin: 5px 0;
}

.cover {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .grid-item {
    flex-direction: column;
  }
  .video-container {
    max-width: none;
  }
}

/*# sourceMappingURL=styles.css.map */
