@font-face {
    font-family: 'Alfa Slab One';
    src: url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Didact+Gothic&display=swap');
}

@font-face {
    font-family: 'Didact Gothic';
    src: url(../Fuentes/DidactGothic-Regular.ttf);
}