@import 'typefaces';
@import 'variables';

.icono {
    width: 130px;
}

.navcolor {
    background-color: $mint;
    font-family: 'Alfa Slab One';
    font-size: 25px;
    a {
        text-decoration: none;
        color: black;
    }
}

.nav-link {
    color: black;
    text-decoration: none;
    &:hover {
        color: $catino-orange;
        text-decoration: none;
    }
}


.dropdown-menu {
    background-color: $mint;
}

.navposition {
    margin-top: 15px;
}

.colordrop {
    background-color: $mint;
}

.navbar-toggler-icon {
    background-image: url(../Imagenes/Redes/descargar.svg);
}

body {
    background-color: $catino-orange;
}

.titulos {
    font-family: 'Didact Gothic';
    font-size: 45px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.inicio-tarjetas {
    font-family: 'Alfa Slab One';
    text-align: center;
    padding-bottom: 10px;
}

.sinopsistitle {
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: -30px;
}

.footicon {
    width: 40px;
    margin-left: 5px;
}

.buttoncolors {
	box-shadow:inset $box-shadow;
	background:linear-gradient(to bottom, $mint 5%, $cool-green 100%);
	background-color:$mint;
	border-radius:6px;
	border:$border-button;
	display:inline-block;
	cursor:pointer;
	color:$only-white;
	font-family:'Didact Gothic';
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:$text-shadow;
    &:hover {
        background:linear-gradient(to bottom, $cool-green 5%, $mint 100%);
        background-color:$cool-green;
    }
    &:active {
        position:relative;
        top:1px;
    }
}

.logo-navbar {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.logo-navbar-2 {
    display: flex;
    justify-content: center;;
}

.sobrecatino {
    border-radius: 10px; border: 5px solid $mint;
    background-color: $only-white;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 250px;
    font-family: 'Didact Gothic';
}

.catinos {
    margin-bottom: 30px;
    width: 150px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Didact Gothic';
    text-align: center;
    background-color: $mint;
    border-radius: 15px;
    padding-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 20px; 
}

.grid-item {
    display: flex;
    padding: 10px;
    background-color: $only-white;
    border-radius: 10px; border: 5px solid $mint;
    font-family: 'Didact Gothic';
    font-size: 20px;
    text-align: center;
}

.video-container {
    flex: 1; 
    max-width: 560px; 
    iframe {
        width: 100%; 
        max-width: 560px; 
        height: 315px; 
        border-radius: 10px;
    }
}

.video-info {
    flex: 1; 
    padding: 10px;
}

.directorio {
    font-family: 'Didact Gothic';
    margin: 0;
    padding: 20px;
    h1 {
        text-align: center;
    }
    ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
    }
    li {
        background-color: $only-white;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 5px;
        box-shadow: $another-box;
    }

    h2 {
        font-size: 1.2em;
        margin: 0;
    }

    p {
        margin: 5px 0;
    }
}

.cover {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .grid-item {
        flex-direction: column;
    }

    .video-container {
        max-width: none; 
    }
}